@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primaryText font-sans antialiased selection:bg-accent selection:text-white;
  }
}

/* Custom hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes comet {
  0% { transform: translateX(-150%) skewX(-25deg); }
  100% { transform: translateX(350%) skewX(-25deg); }
}

.animate-comet {
  animation: comet 4s infinite ease-in-out;
}
